<div class="row page-titles">
  <div class="col-md-5 col-8 align-self-center">
    <h3 class="text-themecolor">Proxies</h3>
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
      <li class="breadcrumb-item active">Proxies</li>
    </ol>
  </div>
  <div class="col-md-7 col-4 align-self-center"></div>
</div>

<!-- Content -->

<mat-card>
  <mat-grid-list cols="10" rowHeight="300px" rowWidth="800px">
    <mat-grid-tile colspan="8" class="grid-border"> 
      <form class="gmail-form" [formGroup]="proxies" style="width:30%">
        <mat-form-field style="width: 100%">
          <textarea matInput placeholder="Proxies ( IP:Port )" formControlName="proxies_list"></textarea>
        </mat-form-field>
      </form>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" class="grid-border">
      Speed results (ms) for proxy test
    </mat-grid-tile>
  </mat-grid-list>

</mat-card>

<mat-grid-list cols="5" rowHeight="100px">
  <mat-grid-tile>
    <button mat-raised-button color="primary" (click)="save_proxy()">Save to bot</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" (click)="delete_proxy()">Delete All</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" (click)="test_proxy()">Test Proxies</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" (click)="export_proxy()">Export to file</button>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-raised-button color="primary" (click)="file_path.click()">Import</button>
    <input type="file" accept=".csv" (change)="import_proxy($event)" style="display:none" #file_path>
  </mat-grid-tile>
</mat-grid-list>